@using HomelessAnimalsDiplom.Views.Shared.Components;
@model User

@{
    ViewData["Title"] = "Autorization";
    Layout = "_Layout";
}


@*<div class="card">
    @(
        await Html.RenderComponentAsync<HomelessAnimalsDiplom.
                         Views.Shared.Components.SignViewComponent>(RenderMode.ServerPrerendered, new User
                        {
                            Id = new MongoDB.Bson.ObjectId(),
                            Login = "sss",
                            Password = "555",
                            Name = "Дикобраз"
                        })
    )
</div>*@
   

