@using HomelessAnimalsDiplom.Views.Shared.Components;
@using HomelessAnimalsDiplom.Controllers;
@model HomelessAnimalsDiplom.Views.Home.LoginModel
@{
    
}

<div class="m-1 text-danger" asp-validation-summary="All"></div>

<div class="container">
    <div class="row">
        @*<div class="col-md-6 enterPic">
            <div class="enterPic">
                <img src="~/pictures/Corgi4.jpg">
            </div>
        </div>*@
        <div class="col-md-6">
            <form method="post">
                <input type="hidden" name="returnUrl"/>
                <div class="form-group mb-3">
                    <label>Имя пользователя</label>
                    <input class="form-control" asp-for="@Model.Login" />
                </div>
                <div class="form-group">
                    <label>Пароль</label>
                    <input asp-for="@Model.Password" type="password" class="form-control" />
                </div>
                <div class="form-group mt-3">
                    <button class="btn btn-primary"
                            type="submit">
                        Войти
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

