@using HomelessAnimalsDiplom.Models;
@using HomelessAnimalsDiplom.Views.Advertisement;
@using HomelessAnimalsDiplom.Views.Recommendations;
@using HomelessAnimalsDiplom.Views.Shared.Components;
@using Microsoft.AspNetCore.Components.Rendering;
@using System.Globalization;
@using HomelessAnimalsDiplom.Controllers;
@using static Controllers.HomeController;
@using static HomelessAnimalsDiplom.Models.Database;

@using MongoDB.Bson;
@using MongoDB.Driver;
@code {
    
    List<AnimalType> animalTypes = AnimalTypeCollection.Find(new BsonDocument()).ToList();
    public SearchComponent? Search;
    
    public static RecommendationsComponent? RecommendationsComp = new();
    public static MainPageSettings MainPage = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //if (AdvertisementDetail != null)
        //{
        //    AdvertisementDetail.OnUpdateMainPage += Update;
        //}
    }

    
}

<SearchComponent @ref="Search" />
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col" style="font-weight:600; font-size: medium;">Рекомендации для вас</div>
    </div>
    <div class="row">
        <div class="col">
            @if (CurUser != null)
            {
                <RecommendationsComponent @ref="RecommendationsComp" />
              
            }
            else
            {
                <h5 style="color: gray;">Предложений пока нет</h5>
            }
        </div>
    </div>
   
</div>

