@using MonkeyShop.Models;
@using MonkeyShop.Views.Advertisement;
@using MonkeyShop.Views.Shared.Components;
@using Microsoft.AspNetCore.Components.Rendering;
@using System.Globalization;
@using MonkeyShop.Controllers;
@using static Controllers.HomeController;
@using static MonkeyShop.Models.Database;

@using MongoDB.Bson;
@using MongoDB.Driver;
@code {
    
    List<AnimalType> animalTypes = AnimalTypeCollection.Find(new BsonDocument()).ToList();
    public SearchComponent? Search;
    
    //public static RecommendationsComponent? RecommendationsComp = new();
    public static MainPageSettings MainPage = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //if (AdvertisementDetail != null)
        //{
        //    AdvertisementDetail.OnUpdateMainPage += Update;
        //}
    }

    
}

@*<SearchComponent @ref="Search" />*@
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col" style="font-weight:600; font-size: medium;">Наши мартышечки</div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
   
</div>

