@using HomelessAnimalsDiplom.Models;
@using HomelessAnimalsDiplom.Views.Advertisement;
@using HomelessAnimalsDiplom.Views.Recommendations;
@using HomelessAnimalsDiplom.Views.Shared.Components;
@using Microsoft.AspNetCore.Components.Rendering;
@using System.Globalization;
@using HomelessAnimalsDiplom.Controllers;
@using static Controllers.HomeController;
@using static HomelessAnimalsDiplom.Models.Database;

@using MongoDB.Bson;
@using MongoDB.Driver;
@code {

    List<AnimalType> animalTypes = new();
    public SearchComponent? Search;

    public static RecommendationsComponent? RecommendationsComp = new();
    public static MainPageSettings MainPage = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        animalTypes = AnimalType.GetAnimalTypes();
    }
   
}
<div class="row justify-content-center pb-3">
    <div class="rounded-rectangle">
        <p class="button-caption-search">Найди своего идеального питомца здесь!</p>
        <a class="btn btn-dark search-btn" href="Search/SearchView">Поиск</a>
        <img src="./pictures/cat-dog-main-page.png" class="img-main-page-card">
    </div>
</div>
<div class="row justify-content-center bordered main-page-recommends pt-4">
    <div class="row mb-4">
        <div class="col main-page-recom-title">Рекомендации для вас</div>
    </div>
    <div class="row">
        <div class="col">
            @if (CurUser != null)
            {
                <RecommendationsComponent @ref="RecommendationsComp" />
            }
            else
            {
                <h5 style="color: gray;">Предложений пока нет</h5>
            }
        </div>
    </div>
   
</div>

